.form {
  --input-focus: #A076F9;
  --font-color: #323232;
  --font-color-sub: #212121;
  --bg-color: #fff;
  --main-color: #323232;
  padding: 20px;
  background: #D7BBF5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  max-width: 70vh;
  height: 70vh;
  margin: auto;
  margin-bottom: 40px;
}

.title {
  color: var(--font-color);
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 25px;
}

.title span {
  color: var(--font-color-sub);
  font-weight: 600;
  font-size: 17px;
}

.input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.input:focus {
  border: 2px solid var(--input-focus);
}

.login-with {
  display: flex;
  gap: 20px;
}

.button-confirm {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}

.links{
    display: flex;
    align-items: center;
    gap: 60px;
}

.sign{
    text-decoration: underline;
    color: #212121;
    font-weight: 600;
    font-size: 16px;
}

@media  only screen and (max-width:600px) {
  .form{
    width: 90vw;
  }
}